{% extends 'base.html' %}

{% block title %}
Contact Details 
{% endblock title %}

{% block body %}

<style>
    body {
      background-image: url('https://img.freepik.com/free-photo/medical-banner-with-doctor-holding-stethoscope_23-2149611224.jpg?w=1800&t=st=1674817470~exp=1674818070~hmac=c787d3e44cf0d74b0b31836aef9d63e6898bd1af5b4c0318b0eda598d1d21153');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
<br>
<br>
<br>
<br>
<div class="row">
    <div class="col-md-4"></div>
    
    <div class="col-md-4">
    
    
    
    <main>
        <br>
        <br>
        <br>
        <div class="container">
            <h2>Contact Our Group:</h2>
            <br>
            <p style="background-color:rgb(140, 205, 245)">Mail ID: nagavishnujayam199@gmail.com <br>
            Contact No: 9100656232</p>
            <p style="background-color:rgb(140, 205, 245)">Mail ID: jeevansivaraj2001@gmail.com <br>
                Contact No: 8660166338</p>
            <p style="background-color:rgb(140, 205, 245)">Mail ID: rakshithj004@gmail.com <br>
                Contact No: 7899451507</p>
        </div>
    </main> 
    
    </div>

{% endblock body %}